<!DOCTYPE html>
<html>
<head>
	<title>This report was made by {{x}} and {{y}}.</title>
	<style type="text/css">iframe {width:95%;height:600px}</style>
</head>
<body>
	<pre style="width:95%; white-space:pre-wrap">Report Generated {{ now }}</pre>
	<pre style="width:95%; white-space:pre-wrap">INPUTS: {{inputs}}</pre>
	<pre style="width:95%; white-space:pre-wrap">User Warnings:</pre>
	<pre style="width:95%; white-space:pre-wrap">{{warnings}}</pre>
	<!-- formatted below for a dict of lists -->
	<pre>Overview of Microgrids</pre>
	<table style="">
		{% for k,v in summary.items() %}
			<tr>
				<td>{{ k }}</td>
				{% for v_i in v %}
					{% if v_i is string %}
						<td style="text-align:right">{{ v_i }}</td>
					{% elif v_i is not none %}
						<td style="text-align:right">{{ '{:,}'.format(v_i) }}</td>
					{% else %}
						<td style="text-align:right">{{ v_i }}</td>
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	<iframe src="circuit_map/geoJsonMap_offline.html"></iframe>
	<iframe src="circuit_oneline.html"></iframe>
	<iframe src="timeseries_gen.csv.plot.html"></iframe>
	<iframe src="timeseries_load.csv.plot.html"></iframe>
	<iframe src="timeseries_source.csv.plot.html"></iframe>
	<iframe src="timeseries_control.csv.plot.html"></iframe>
	{% for reopt_folder in reopt_folders %}
	<iframe src="{{reopt_folder}}/inlineTemplate.html"></iframe>
	{% endfor %}
	<!-- <iframe src="timezcontrol_gen.csv.plot.html"></iframe> -->
	<iframe src="timezcontrol_load.csv.plot.html"></iframe>
	<iframe src="timezcontrol_source.csv.plot.html"></iframe>
	<iframe src="timezcontrol_control.csv.plot.html"></iframe>
</body>
</html>