<!DOCTYPE html>
<html>
<head>
	<title>This report was made by {{x}} and {{y}}.</title>
	<style type="text/css">iframe {width:95%;height:600px}</style>
</head>
<body>
	<pre>INPUTS {{inputs}}</pre>
	<!-- formatted below for a dict of lists -->
	<pre>Overview of Microgrids</pre>
	<table style="">
		{% for k,v in summary.items() %}
			<tr>
				<td>{{ k }}</td>
				{% for v_i in v %}
				<td style="text-align:right">{{ v_i }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	<iframe src="lehigh_map/geoJsonMap_offline.html"></iframe>
	<iframe src="lehigh.oneline.html"></iframe>
	<iframe src="timeseries_gen.csv.plot.html"></iframe>
	<iframe src="timeseries_load.csv.plot.html"></iframe>
	<iframe src="timeseries_source.csv.plot.html"></iframe>
	<iframe src="timeseries_control.csv.plot.html"></iframe>
	<iframe src="lehigh_reopt/inlineTemplate.html"></iframe>
	<iframe src="timezcontrol_gen.csv.plot.html"></iframe>
	<iframe src="timezcontrol_load.csv.plot.html"></iframe>
	<iframe src="timezcontrol_source.csv.plot.html"></iframe>
	<iframe src="timezcontrol_control.csv.plot.html"></iframe>
</body>
</html>