<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>MicrogridUP &raquo; {{model_name}}</title>
  </head>
  <body class="loading">
    <header>
        <nav class="js-nav--topNav">
            <button>
                <svg width="100%" height="100%" viewBox="-2.5 -2.5 15 15"><path d="M0,1L10,1v1h-10v-1M0,5.5L10,5.5v-1h-10v1M0,9L10,9v-1h-10v1"/></svg> 
            </button>
            <div>
                <a href="/">
                    <span class="span--sectionTitle">MicrogridUp &raquo; {{model_name}} &raquo;</span>
                </a>
                <span class="span--sectionTitle">Overview</span>
            </div>
        </nav>
    </header>
    <main class="loading">
        <nav class="js-nav--sideNav">
            <button data-content="Overview">
                <span>Overview</span>
            </button>
            <button data-content="Oneline">
                <span>Oneline</span>
            </button>
            <button data-content="Map">
                <span>Map</span>
            </button>
            {% if resilience_show %}
            <button data-content="Resilience">
                <span>Resilience</span>
            </button>
            {% endif %}
            <button data-content="Interconnection">
                <span>Interconnection</span>
            </button>
            <button data-content="Control">
                <span>Control</span>
            </button>
            <button>
                <span>Microgrids</span>
                <svg width="100%" height="100%" viewBox="-2.5 -2.5 15 15"><path d="M4,2.5L6.5,5L4,7.5L3,6.5L4.5,5L3,3.5L4,2.5"/></svg>
            </button>
            <div class="js-div--buttonContainer">
                {% for name, folder in mg_names_and_reopt_folders.items() %}
                <button data-content="{{name}}">
                    <span>{{name}}</span>
                </button>
                {% endfor %}
            </div>
            <button data-content="Files">
                <span>Files</span>
            </button>
        </nav>
        <div class="js-div--sideNavCover loading">
            <span class="span--sectionTitle">Loading...</span>
        </div>
        <article>
            <section data-content="Overview">
                <iframe src="overview.html"></iframe>
            </section>
            <section class="loading" data-content="Oneline">
                <iframe src="circuit_oneline.html"></iframe>
            </section>
            <section class="loading" data-content="Map">
                <iframe src="circuit_map/geoJsonMap_offline.html"></iframe>
            </section>
            {% if resilience_show %}
            <section class="loading" data-content="Resilience">
                <iframe src="output_resilience.html"></iframe>
            </section>
            {% endif %}
            <section class="loading" data-content="Interconnection">
                <div>
                    <iframe src="timeseries_gen.csv.plot.html"></iframe>
                    <iframe src="timeseries_load.csv.plot.html"></iframe>
                    <iframe src="timeseries_source.csv.plot.html"></iframe>
                    <iframe src="timeseries_control.csv.plot.html"></iframe>
                </div>
            </section>
            <section class="loading" data-content="Control">
                <iframe src="output_control.html"></iframe>
            </section>
            {% for name, folder in mg_names_and_reopt_folders.items() %}
            <section class="loading" data-content="{{name}}">
                <iframe src="{{folder}}/cleanMicrogridDesign.html"></iframe>
            </section>
            {% endfor %}
            <section class="loading" data-content="Files">
                <ul>
                    {% for file_name in raw_files %}
                    <li><a href='/{{model_name}}/{{file_name}}'>{{file_name}}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </article>
    </main>
    <script src="/main.js"></script>
  </body>
</html>