<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>MicrogridUP &raquo; {{model_name}}</title>
  </head>
  <body class="loading">
    <header>
        <nav class="js-nav--topNav">
            <button>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg> 
            </button>
            <div>
                <a href="/">
                    <span class="span--sectionTitle">MicrogridUp &raquo; {{model_name}}</span>
                </a>
            </div>
        </nav>
    </header>
    <main class="loading">
        <nav class="js-nav--sideNav">
            <button data-content="overview">
                <span>Overview</span>
            </button>
            <button data-content="oneline">
                <span>Oneline</span>
            </button>
            <button data-content="map">
                <span>Map</span>
            </button>
            {% if resilience_show %}
            <button data-content="resilience">
                <span>Resilience</span>
            </button>
            {% endif %}
            <button data-content="interconnection">
                <span>Interconnection</span>
            </button>
            <button data-content="control">
                <span>Control</span>
            </button>
            <button>
                <span>Microgrids</span>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m8.59 16.34 4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/></svg>
            </button>
            <div class="js-div--buttonContainer">
                {% for name, folder in mg_names_and_reopt_folders.items() %}
                <button data-content="{{folder}}">
                    <span>{{name}}</span>
                </button>
                {% endfor %}
            </div>
            <button data-content="files">
                <span>Files</span>
            </button>
        </nav>
        <div class="js-div--sideNavCover loading">
            <span class="span--sectionTitle">Loading...</span>
        </div>
        <article>
            <section data-content="overview">
                <div class="div--spanDisplay">
                    <span class="span--sectionTitle">Overview</span>
                </div>
                <iframe src="overview.html"></iframe>
            </section>
            <section class="loading" data-content="oneline">
                <div class="div--spanDisplay">
                    <span class="span--sectionTitle">Oneline</span>
                </div>
                <iframe src="circuit_oneline.html"></iframe>
            </section>
            <section class="loading" data-content="map">
                <div class="div--spanDisplay">
                    <span class="span--sectionTitle">Map</span>
                </div>
                <iframe src="circuit_map/geoJsonMap_offline.html"></iframe>
            </section>
            {% if resilience_show %}
            <section class="loading" data-content="resilience">
                <div class="div--spanDisplay">
                    <span class="span--sectionTitle">Resilience</span>
                </div>
                <iframe src="output_resilience.html"></iframe>
            </section>
            {% endif %}
            <section class="loading" data-content="interconnection">
                <div class="div--spanDisplay">
                    <span class="span--sectionTitle">Interconnection</span>
                </div>
                <div>
                    <iframe src="timeseries_gen.csv.plot.html"></iframe>
                    <iframe src="timeseries_load.csv.plot.html"></iframe>
                    <iframe src="timeseries_source.csv.plot.html"></iframe>
                    <iframe src="timeseries_control.csv.plot.html"></iframe>
                </div>
            </section>
            <section class="loading" data-content="control">
                <div class="div--spanDisplay">
                    <span class="span--sectionTitle">Control</span>
                </div>
                <iframe src="output_control.html"></iframe>
            </section>
            {% for name, folder in mg_names_and_reopt_folders.items() %}
            <section class="loading" data-content="{{folder}}">
                <div class="div--spanDisplay">
                    <span class="span--sectionTitle">{{name}}</span>
                </div>
                <iframe src="{{folder}}/cleanMicrogridDesign.html"></iframe>
            </section>
            {% endfor %}
            <section class="loading" data-content="files">
                <div class="div--spanDisplay">
                    <span class="span--sectionTitle">Files</span>
                </div>
                <ul>
                    {% for file_name in raw_files %}
                    <li><a href='/{{model_name}}/{{file_name}}'>{{file_name}}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </article>
    </main>
    <script src="/main.js"></script>
  </body>
</html>