<!DOCTYPE html>
<html>
<head>
	<title>MicrogridUP - New</title>
</head>
<body style="margin:0px; height:30px">
	<form action="/run" method="post" enctype="multipart/form-data">
		<label for="MODEL_DIR">MODEL_DIR</label>
		<input type="text" name="MODEL_DIR" value="{{in_data.MODEL_DIR}}">
		{% if 'BASE_DSS' in in_data %}
		<label for="BASE_DSS_NAME">BASE_DSS_NAME</label>
		<input type="text" name="BASE_DSS_NAME" value="{{in_data.BASE_DSS}}" readonly>
		{% else %}
		<label for="BASE_DSS">BASE_DSS</label>
		<input type="file" name="BASE_DSS">
		{% endif %}
		{% if 'LOAD_CSV' in in_data %}
		<label for="LOAD_CSV_NAME">LOAD_CSV_NAME</label>
		<input type="text" name="LOAD_CSV_NAME" value="{{in_data.LOAD_CSV}}" readonly>
		{% else %}
		<label for="LOAD_CSV">LOAD_CSV</label>
		<input type="file" name="LOAD_CSV">
		{% endif %}
		<label for="FAULTED_LINE">FAULTED_LINE</label>
		<input type="text" name="FAULTED_LINE" value="{{in_data.FAULTED_LINE}}">
		<label for="QSTS_STEPS">QSTS_STEPS</label>
		<input type="text" name="QSTS_STEPS" value="{{in_data.QSTS_STEPS}}">
		<label for="DIESEL_SAFETY_FACTOR">DIESEL_SAFETY_FACTOR</label>
		<input type="text" name="DIESEL_SAFETY_FACTOR" value="{{in_data.DIESEL_SAFETY_FACTOR}}">
		<label for="FOSSIL_BACKUP_PERCENT">FOSSIL_BACKUP_PERCENT</label>
		<input type="text" name="FOSSIL_BACKUP_PERCENT" value="{{in_data.FOSSIL_BACKUP_PERCENT}}">
		<h2>REOpt Inputs</h2>
		<textarea name="REOPT_INPUTS" rows="20" cols="100">{{in_data.REOPT_INPUTS | tojson}}</textarea>
		<h2>Microgrid Definitions</h2>
		<label for="MG_DEF_METHOD">MG_DEF_METHOD</label>
		<select name="MG_DEF_METHOD">
			<option value="manual" {% if in_data.MG_DEF_METHOD == 'manual' %}selected{% endif %}>Manual</option>
			<option value="lukes" {% if in_data.MG_DEF_METHOD == 'lukes' %}selected{% endif %}>Lukes</option>
			<option value="branch" {% if in_data.MG_DEF_METHOD == 'branch' %}selected{% endif %}>Branch</option>
		</select></br>
		<textarea name="MICROGRIDS" rows="20" cols="100">{{in_data.MICROGRIDS | tojson}}</textarea>
		<input type="submit" value="Submit">
	</form>
</body>
</html>