<!DOCTYPE html>
<html>
<head>
	<title>MicrogridUP &raquo; New</title>
	<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/92028f16c4.js" crossorigin="anonymous"></script>
	<style type="text/css">
		body {
			margin-left:0;
			padding:0;
			border:0;
			font-family:sans-serif;
		}
		h3, h5, p {
			margin-bottom:7px;
			margin-left: 5px;
		}
		.chunk, .desc {
			display: inline-block;
			background-color: lightgray;
			padding: 6px;
			border-radius: 4px;
			margin: 4px 2px 4px 2px;
		}
		form {
			width: 100%;
			margin-left: 5px;
		}
		button, input[type='submit'], label.fileButton {
			width:auto;
			padding: 9px;
			margin-right:3px;
			font-size:small;
			background:seagreen;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border: none;
			color: white;
			cursor:pointer;
		}
		textarea {
			font-size: 12pt;
			margin-left: 5px;
			display: inline-block;
		}
		.advanced {
			display: inline-block;
			max-width: 50%;
			min-width: 500px;
		}
		.step {
		  max-width: 1000;
		  display: block;
		  margin: 0 auto;
		}
		.tooltip {
			border-bottom: 1px dotted #000000; 
			color: #000000;
			outline: none;
			cursor: help; 
			text-decoration: none;
			position: relative;
		}
		.tooltip span {
			margin-left: -999em;
			position: absolute;
			display: inline-block;
		}
		.tooltip:hover span {
			border-radius: 5px 5px; 
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px; 
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
			-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
			-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; 
			left: 0.5em; 
			top: 1.5em; 
			z-index: 99;
			margin-left: 0; 
			width: 200px;
		}
		.classic {
			background: #A9A9A9; 
			color: white; 
			padding: 5px 5px;
		}
		a {text-decoration: none; color: black;}
		a:hover {text-decoration: underline;}
		#image_id {
			max-width: 700px;
			padding: 10px;
		}
		.dropbtn {
		  color: white;
		  border: none;
		}
		.dropdown {
		  position: relative;
		  display: inline-block;
		}
		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: #f1f1f1;
		  min-width: 160px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		}
		.dropdown-content div {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		}
		.dropdown-content div:hover {background-color: #ddd; cursor: pointer;}
		.dropdown:hover .dropdown-content {display: block;}
		.dropdown:hover .dropbtn {background-color: #3e8e41;}
		.substation {
		    padding-left: 0px;
		    list-style: none;
		}
		#elements .feeder {
			padding-left: 40px;
			list-style: none;
		}
		#elements .load, .solar, .battery, .wind, .diesel {
			padding-left: 80px;
			list-style: none;
		}
		#elements li i {
			cursor:pointer;
		}
	</style>
</head>
<body>
	<div style="height:40px; width:100%; background:black; line-height:40px; padding-left:10px;">
		<p style="color:white; margin:0px"><a style="color:white; text-decoration:none" href="/"><b>MicrogridUP</b></a> &raquo; New</p>
	</div>

	<div id='introInfo' class='step'>
		<h3>Step 1: Input model information</h3>
		<form id="modelInfoForm" enctype="multipart/form-data">
			<h5>Site and Energy Provider</h5>
			<div class="chunk">
				<label for="MODEL_DIR">Model Name</label>
				<input type="text" name="MODEL_DIR" value="{{in_data.MODEL_DIR}}" />
			</div>
			<div class="chunk">
				<label class="tooltip" for="latitude">Latitude<span class="classic">Specify the latitude of the load/grid.</span></label>
				<input type="text" name="latitude" pattern="^\-?\d+\.?\d*?$"/>
			</div>
			<div class="chunk">
				<label class="tooltip" for="longitude">Longitude<span class="classic">>Specify the longitude of the load/grid.</span></label>
				<input type="text" name="longitude" pattern="^\-?\d+\.?\d*?$"/>
			</div>
			<div class="chunk">
				<label class="tooltip" for="QSTS_STEPS">Interconn. Time Steps (hours)<span class="classic">TO DO: FILL TOOLTIP</span></label>
				<input type="text" name="QSTS_STEPS" value="{{in_data.QSTS_STEPS}}" />
			</div>
			<div>
				<i class="fa fa-plus-square"></i>
				<a href="javascript:void(0)" class="toggle show">Optional inputs</a>
				<div style="display:none">
					<div class="chunk">
						<label class="tooltip" for="energyCost">Energy Cost ($/kWh)<span class="classic">Specify the energy cost in $/kWh. Format 0.XX</span></label>
						<input type="text" name="energyCost" value="0.12" pattern="^\d+\.?\d*?$"/>
					</div>
					<div class="chunk">
						<label class="tooltip" for="wholesaleCost">Wholesale Cost ($/kWh)<span class="classic">Specify wholesale price for selling excess electricity back to the grid operator. Format 0.XX</span></label>
						<input type="text" name="wholesaleCost" value="0.034" pattern="^\d+\.?\d*?$"/>
					</div>
					<div class="chunk">
						<label class="tooltip" for="demandCost">Demand Cost ($/kW)<span class="classic">Specify the demand cost in $/kW. Format 0.XX</span></label>
						<input type="text" name="demandCost" value="20" pattern="^\d+\.?\d*?$"/>
					</div>
					<div class="chunk">
						<label class="tooltip" for="solarCanCurtail">DG Can Curtail<span class="classic">Allows for excess distributed generation to be automatically curtailed.</span></label>
						<select id="solarCanCurtail" name="solarCanCurtail">
							<option selected value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
					<div class="chunk">
						<label class="tooltip" for="solarCanExport">DG Can Export<span class="classic">Allows for excess distributed generation to be sold back to the grid.</span></label>
						<select id="solarCanExport" name="solarCanExport">
							<option selected value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
					<div class="chunk">
						<label class="tooltip" for="urdbLabelSwitch">Use URDB Rate?<span class="classic">Utilizing a rate from the Utility Rate Database overrides Cost of Energy and Cost of Demand rates above. See https://openei.org/services/<br>doc/rest/util_rates/</span></label>
						<select id="urdbLabelSwitch" name="urdbLabelSwitch">
							<option value="on">Yes</option>
							<option selected value="off">No</option>
						</select>
					</div>
					<div class="chunk">
						<label class="tooltip" for="urdbLabel">URDB Label<span class="classic">Input the string found at the end of the URDB Rate URL, For example https://openei.org/apps/<br>IURDB/rate/view/<br> 5b75cfe95457a3454faf0aea <br> would yield "5b75cfe95457a3454faf0aea"</span></label>
						<input type="text" name="urdbLabel" value="5b75cfe95457a3454faf0aea" />
					</div>
				</div>
			</div>
			<h5>Load Profile</h5>
			{% if 'LOAD_CSV' in in_data %}
			<div class="chunk">
				<label class="tooltip" for="LOAD_CSV_NAME">Load Data (.csv)<span class="classic">Please enter the name of a .csv file representing the hourly load shape.</span></label>
				<input type="text" name="LOAD_CSV_NAME" value="{{in_data.LOAD_CSV}}" readonly />
			</div>
			{% else %}
			<div class="chunk">
				<label class="tooltip" for="LOAD_CSV">Load Data (.csv)<span class="classic">Please enter the name of a .csv file representing the hourly load shape.</span></label>
				<input type="file" name="LOAD_CSV" id="LOAD_CSV"/>
			</div>
			{% endif %}
			<div class="chunk">
				<label class="tooltip" for="criticalLoadFactor">Critical Load Factor (% as decimal)<span class="classic">Please enter a number 0-1 for the fraction of total typical load that must be met during a grid outage. Format 0.XX</span></label>
				<input type="text" name="criticalLoadFactor" value="1" step="0.01" min="0.0" max="1.0"/>
			</div>
			<div class="chunk">
				<label class="tooltip" for="year">Year<span class="classic">Specify the year to which the load shape values correspond.</span></label>
				<input type="text" name="year" value="2017" pattern="^\d{4}$"/>
			</div>
			<div>
				<i class="fa fa-plus-square"></i>
				<a href="javascript:void(0)" class="toggle show">Optional inputs</a>
				<div style="display:none">
					<div class="chunk">
						<label class="tooltip" for="analysisYears">Analysis Period (years)<span class="classic">Specify the length of financial analysis in years.</span></label>
						<input type="text" name="analysisYears" value="25" step="1" min="2" max="75"/>
					</div>
				</div>		
			</div>
			<h5>Resilience</h5>
			<div class="chunk">
				<label class="tooltip" for="FAULTED_LINE">Outage Location(s)<span class="classic">TO DO: FILL TOOLTIP</span></label>
				<input type="text" name="FAULTED_LINE" value="{{in_data.FAULTED_LINE}}" />
			</div>
			<div class="chunk">
				<label class="tooltip" for="outageDuration">Outage Duration (hours)<span class="classic">The added major outage is given this duration.</span></label>
				<input type="text" name="outageDuration" value="48" min="1" max="8760"/>
			</div>
			<div class="chunk">
				<label for="HISTORICAL_OUTAGES">Historical Outage Data (.csv)</label>
				<input type="file" name="HISTORICAL_OUTAGES">
			</div>
			<div>
				<i class="fa fa-plus-square"></i>
				<a href="javascript:void(0)" class="toggle show">Optional inputs</a>
				<div style="display:none;">
					<div class="chunk">
						<label class="tooltip" for="DIESEL_SAFETY_FACTOR">Fossil Safety Margin (%)<span class="classic">TO DO: FILL TOOLTIP</span></label>
						<input type="text" name="DIESEL_SAFETY_FACTOR" value="{{in_data.DIESEL_SAFETY_FACTOR}}" />
					</div>
					<div class="chunk">
						<label class="tooltip" for="FOSSIL_BACKUP_PERCENT">Allowed Fossil (% as decimal)<span class="classic">TO DO: FILL TOOLTIP</span></label>
						<input type="text" name="FOSSIL_BACKUP_PERCENT" value="{{in_data.FOSSIL_BACKUP_PERCENT}}" />
					</div>
					<div class="chunk">
						<label class="tooltip" for="outage_start_hour">Outage Start Hour<span class="classic">A major outage is added starting at this hour. Specify an hour greater than 0 but less than 8760 to trigger optimization for resilience and include fossil generation. If 0 is entered, the model will run an economic optimization without fossil generation.</span></label>
						<input type="text" name="outage_start_hour" value="500" min="0" max="8760"/>
					</div>
					<div class="chunk">
						<label class="tooltip" for="userCriticalLoadShape">User-supplied Critical Load Shape (.csv)?<span class="classic">Check "Yes" if user uploads Optional Critical Load Shape (.csv). Else, indicate "Critical Load Factor"</span></label>
						<select id="userCriticalLoadShape" name="userCriticalLoadShape">
							<option value="true">Yes</option>
							<option selected value="false">No</option>
						</select>
					</div>
					<div class="chunk">
						<label class="tooltip" for="criticalLoadShapeFile">Optional Critical Load Shape (.csv)<span class="classic">Optional: Please enter the name of a .csv file representing the hourly critical load shape. Number of columns much match LoadShape file. Overrides "Critical Load Factor" if present.</span></label>
						<input type="file" name="criticalLoadShapeFile">
					</div>
				</div>
			</div>
			<h5>Financial</h5>
			<div class="chunk">
				<label class="tooltip" for="value_of_lost_load">Value of Lost Load ($/kWh)<span class="classic">Specify the value of lost load during a power outage in $/kWh.</span></label>
				<input type="text" name="value_of_lost_load" value="1" pattern="^\d+\.?\d*?$"/>
			</div>
			<div>
				<i class="fa fa-plus-square"></i>
				<a href="javascript:void(0)" class="toggle show">Optional inputs</a>
				<div style="display:none">
					<div class="chunk">
						<label class="tooltip" for="omCostEscalator">O+M Escalation (% per year)<span class="classic">Please enter a number 0-1 for the Annual nominal O&M cost escalation rate. Format 0.XXX</span></label>
						<input type="text" name="omCostEscalator" value="0.025" step="0.001" min="0.0" max="1.0"/>
					</div>
					<div class="chunk">
						<label class="tooltip" for="discountRate">Discount Rate (% per year)<span class="classic">Please enter a number 0-1 for the Nominal energy offtaker discount rate. In single ownership model the offtaker is also the generation owner. Format 0.XXX</span></label>
						<input type="text" name="discountRate" value="0.083" step="0.001" min="0.0" max="1.0"/>
					</div>
				</div>		
			</div>
		</form>

		<h3>Step 2: Specify existing circuit</h3>
		<p>Please select your circuit creation method:</p>
		<input type="radio" id="upload" name="circuit" value="Upload" />
		<label for="upload">Upload circuit from file</label><br>
		<input type="radio" id="wizard" name="circuit" value="Creator" />
		<label for="wizard">Build circuit manually</label><br>

		<div id="circuitUpload" class="desc" style="margin-top:10px">
			{% if 'BASE_DSS' in in_data %}
			<div class="chunk">
				<label for="BASE_DSS_NAME">Circuit Definition (.dss)</label>
				<input type="text" name="BASE_DSS_NAME" value="{{in_data.BASE_DSS}}" readonly />
			</div>
			{% else %}
			<div class="chunk">
				<form id="upload-file" method="post" enctype="multipart/form-data">
				    <fieldset>
				        <label class="tooltip" for="file">Select a file<span class="classic">The threshold for how many seconds an outage lasts before it is considered a sustained outage.</span></label>
				        <input name="file" type="file" />
				    </fieldset>
				    <fieldset>
				        <button id="upload-file-btn" type="button">Upload</button>
				    </fieldset>
				</form>
			</div>
			{% endif %}
		</div>

		<div id="circuitCreator" class="desc">
			<dialog id="dialog">
				<div id="dialogText"></div>
				<select></select>
				<button type="cancel" onclick="window.dialog.close();">Cancel</button>
				<button type="button">Submit</button>
			</dialog>


			<ul id="elements">
				<li class="substation" data-editable><i class="fa fa-minus-square"></i> Substation: (click to name)</li>
				<li class="feeder" data-editable><i class="fa fa-minus-square"></i> Feeder: (click to name)</li>
				<li class="load" data-editable><i class="fa fa-minus-square"></i> Load: (click to name)</li>
				<li class="solar" data-editable><i class="fa fa-minus-square"></i> Solar: (click to name)</li>
				<li class="battery" data-editable><i class="fa fa-minus-square"></i> Battery: (click to name)</li>
				<li class="diesel" data-editable><i class="fa fa-minus-square"></i> Diesel: (click to name)</li>
			</ul>
			<div class="dropdown">
				<button class="dropbtn">Add element</button>
				<div class="dropdown-content">
					<div id="newSub" role="button" tabindex="0">Substation</div>
				    <div id="newFeeder" role="button" tabindex="0">Feeder</div>
				    <div id="newLoad" role="button" tabindex="0">Load</div>
				    <div id="newSolar" role="button" tabindex="0">Solar</div>
				    <div id="newWind" role="button" tabindex="0">Wind</div>
				    <div id="newBattery" role="button" tabindex="0">Battery</div>
				    <div id="newDiesel" role="button" tabindex="0">Diesel</div>
				</div>
			</div>
			<button id="toDss" type="button">Submit circuit</button>
		</div>

		<div id="critLoads">
	    </div>

	</div>

	<div id="partionPreviewer" class="step">
		<h3>Step 3: Partition circuit into microgrids</h3>
		<div class="chunk">
			<label class="tooltip" for="MG_DEF_METHOD">Microgrid Definition Method<span class="classic">The threshold for how many seconds an outage lasts before it is considered a sustained outage.</span></label>
			<select id="partitionMethod" name="MG_DEF_METHOD" style="margin-right:6px">
				<option value="" disabled selected>Select method</option>
				<option value="manual" {% if in_data.MG_DEF_METHOD == 'manual' %}selected{% endif %}>Manual</option>
				<option value="lukes" {% if in_data.MG_DEF_METHOD == 'lukes' %}selected{% endif %}>Lukes</option>
				<option value="branch" {% if in_data.MG_DEF_METHOD == 'branch' %}selected{% endif %}>Branch</option>
				<option value="bottomUp" {% if in_data.MG_DEF_METHOD == 'bottom-up' %}selected{% endif %}>Bottom-Up</option>
				<option value="criticalLoads" {% if in_data.MG_DEF_METHOD == 'critical_loads' %}selected{% endif %}>Critical Loads</option>
			</select></br>
			<button id="previewPartitions" type="button">Preview partitions</button>
			<div id="partitionsPreview">
			</div>
			<form id="partitionManually" style="display: none;">
				<label for="mgQuantity">How many microgrids?</label>
				<input id="mgQuantity" type="text" autocomplete="off" placeholder="# of microgrids" />
				<button id="makeDropdowns" type="button">Go</button><br>
			</form>
			<div id="dropDowns" class="chunk" style="display: none;">
			</div>
		</div>
	</div>

	<div id='techSelect' class='step'>
		<h3>Step 4: Select technologies to be used in microgrids</h3>
		<form id="techParamForm" enctype="multipart/form-data">
			<div class="chunk">
				<label for="solar">Solar</label>
				<input type="hidden" name="solar" value="off">
				<input type="checkbox" name="solar" value="on" id="solar" />
			</div>
			<div class="chunk">
				<label for="battery">Battery</label>
				<input type="hidden" name="battery" value="off">
				<input type="checkbox" name="battery" value="on" id="battery" />
			</div>
			<div class="chunk">
				<label for="fossil">Fossil</label>
				<input type="hidden" name="fossil" value="off">
				<input type="checkbox" name="fossil" value="on" id="fossil" />
			</div>
			<div class="chunk">
				<label for="wind">Wind</label>
				<input type="hidden" name="wind" value="off">
				<input type="checkbox" name="wind" value="on" id="wind" />
			</div>

			<div id="solarDiv" style="display:none">
				<h5>Solar</h5>
				<div class="chunk">
					<label class="tooltip" for="solarCost">Solar Cost ($/kW-DC)<span class="classic">Specify the cost in $/kW.</span></label>
					<input type="text" name="solarCost" value="1600" pattern="^\d+\.?\d*?$"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="solarExisting">Solar Existing (kW-DC)<span class="classic">Specify the total capacity of any pre-existing solar arrays in kW. The outputted "Total Solar" will be inclusive of existing solar.</span></label>
					<input type="text" name="solarExisting" value="0" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="solarMax">Solar Max (kW-DC)<span class="classic">Specify the maximum desired generation in kW. Leave at default for full optimization on solar power.</span></label>
					<input type="text" name="solarMax" value="100000" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="solarMin">Solar Min (kW-DC)<span class="classic">Specify the minimum desired generation in kW.</span></label>
					<input type="text" name="solarMin" value="0" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="solarMacrsOptionYears">Solar MACRS Years<span class="classic">MACRS schedule for financial analysis. Possible inputs are 0, 5 and 7 years. Set to zero to disable accelerated depreciation accounting for solar.</span></label>
					<select id="solarMacrsOptionYears" name="solarMacrsOptionYears">
						<option value="0">0</option>
						<option selected value="5">5</option>
						<option value="7">7</option>
					</select>
				</div>
				<div class="chunk">
					<label class="tooltip" for="solarItcPercent">Solar ITC (% as decimal)<span class="classic">Please enter a number 0-1 for the solar investment tax credit. Format 0.XX</span></label>
					<input type="text" name="solarItcPercent" value="0.26" step="0.01" min="0.0" max="1.0"/>
				</div>
			</div>
			<div id="batteryDiv" style="display:none">
				<h5>Battery</h5>
				<div class="chunk">
					<label class="tooltip" for="batteryCapacityCost">Battery Capacity Cost ($/kWh)<span class="classic">Specify the cost in $/kWh.</span></label>
					<input type="text" name="batteryCapacityCost" value="420" pattern="^\d+\.?\d*?$"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryCapacityMax">Battery Capacity Max (kWh)<span class="classic">Specify the maximum desired battery capacity in kWh.</span></label>
					<input type="text" name="batteryCapacityMax" value="1000000" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryCapacityMin">Battery Capacity Min (kWh)<span class="classic">Specify the minimum desired battery capacity in kWh.</span></label>
					<input type="text" name="batteryCapacityMin" value="0" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryKwhExisting">Battery Capacity Existing (kWh)<span class="classic">TO DO: FILL TOOLTIP</span></label>
					<input type="text" name="batteryKwhExisting" value="0" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryPowerCost">Battery Power Cost ($/kW)<span class="classic">Specify the cost in $/kW.</span></label>
					<input type="text" name="batteryPowerCost" value="840" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryPowerMax">Battery Power Max (kW)<span class="classic">Specify the maximum desired battery power in kW.</span></label>
					<input type="text" name="batteryPowerMax" value="1000000" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryPowerMin">Battery Power Min (kW)<span class="classic">Specify the minimum desired battery power in kW.</span></label>
					<input type="text" name="batteryPowerMin" value="0" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryKwExisting">Battery Power Existing (kW)<span class="classic">TO DO: FILL TOOLTIP</span></label>
					<input type="text" name="batteryKwExisting" value="0" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryMacrsOptionYears">Battery MACRS Years<span class="classic">MACRS schedule for financial analysis. Possible inputs are 0, 5 and 7 years. Set to zero to disable accelerated depreciation accounting for solar.</span></label>
					<select id="batteryMacrsOptionYears" name="batteryMacrsOptionYears">
						<option value="0">0</option>
						<option value="5">5</option>
						<option selected value="7">7</option>
					</select>
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryItcPercent">Battery ITC (% as decimal)<span class="classic">Please enter a number 0-1 for the battery investment tax credit. Format 0.XX</span></label>
					<input type="text" name="batteryItcPercent" value="0" step="0.01" min="0.0" max="1.0"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryPowerCostReplace">Battery Replacement Power Cost ($/kW)<span class="classic">Specify the cost of replacing the battery inverter at the specified year in $/kW.</span></label>
					<input type="text" name="batteryPowerCostReplace" value="410" pattern="^\d+\.?\d*?$"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryCapacityCostReplace">Battery Replacement Capacity Cost ($/kWh)<span class="classic">Specify the cost of replacing the battery capacity at the specified year in $/kWh.</span></label>
					<input type="text" name="batteryCapacityCostReplace" value="200" pattern="^\d+\.?\d*?$"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryPowerReplaceYear">Battery Inverter Replacement (years)<span class="classic">Specify a year in which the battery inverter will be replaced at the cost specified in Battery Replacement Power Cost. Input is an integer less than or equal to the analysis period in years.</span></label>
					<input type="text" name="batteryPowerReplaceYear" value="10" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="batteryCapacityReplaceYear">Battery Replacement (years)<span class="classic">Specify a year in which the battery cells will be replaced at the cost specified in Battery Replacement Capacity Cost. Input is an integer less than or equal to the analysis period in years.</span></label>
					<input type="text" name="batteryCapacityReplaceYear" value="10" />
				</div>
			</div>
			<div id=fossilDiv style="display:none">
				<h5>Fossil</h5>
				<div class="chunk">
					<label class="tooltip" for="dieselGenCost">Diesel Gen Cost ($/kW)<span class="classic">Specify the cost in $/kWh.</span></label>
					<input type="text" name="dieselGenCost" value="500" pattern="^\d+\.?\d*?$"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="dieselMax">Diesel Max (kW)<span class="classic">Specify max fossil generation in kW. Only specify if needed, as the optimization runs best if left unedited.</span></label>
					<input type="text" name="dieselMax" value="1000000" pattern="^\d+\.?\d*?$"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="dieselMin">Diesel Min (kW)<span class="classic">Specify minimum fossil generation in kW. Only specify if needed, as the optimization runs best if left unedited.</span></label>
					<input type="text" name="dieselMin" value="0" pattern="^\d+\.?\d*?$"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="fuelAvailable">Fuel Available (Gal)<span class="classic">Specify the amount of fuel available for all new and pre-existing generators in gallons.</span></label>
					<input type="text" name="fuelAvailable" value="50000" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="genExisting">Gen Existing (kW)<span class="classic">Specify the total capacity of any pre-existing generators in kW. The outputted "Total Fossil Gen" will be inclusive of existing fossil gen.</span></label>
					<input type="text" name="genExisting" value="0" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="minGenLoading">Min Gen Loading (% as decimal)<span class="classic">Please enter a number 0-1 for the the minimum fraction of rated total kVA load that must be maintained by the generator. >/= 0.3 recommended for extended diesel operation. Set to 0 for highest likelihood of success in solving optimization. Format 0.XX</span></label>
					<input type="text" name="minGenLoading" value="0.3" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="dieselFuelCostGal">Fossil Fuel Cost (diesel gal equiv)<span class="classic">Specify cost of fuel in $ per gallon. To convert $/MMBTU of Natural gas to gallons of diesel, divide $/MMBTU market rate by 4.85 to account for 50% lower efficiency of natural gas reciprocating engines and lower fuel density as compared to diesel. Format X.XX</span></label>
					<input type="text" name="dieselFuelCostGal" value="3" pattern="^\d+\.?\d*?$"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="dieselCO2Factor">Fossil Emissions Factor (lb CO2/gal)<span class="classic">Specify fossil emissions factor in pounds of carbon dioxide per gallon. Default 22.4 is for diesel. Natural gas can be modeled using 24.1</span></label>
					<input type="text" name="dieselCO2Factor" value="22.4" pattern="^\d+\.?\d*?$"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="dieselOMCostKw">Fossil O+M Cost ($/kW/year)<span class="classic">Specify annual operations and maintenance cost per kilowatt per year.</span></label>
					<input type="text" name="dieselOMCostKw" value="10" pattern="^\d+\.?\d*?$"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="dieselOMCostKwh">Fossil O+M Cost ($/kWh/year)<span class="classic">Specify annual operations and maintenance cost per kilowatt-hour per year. Format "X.XX"</span></label>
					<input type="text" name="dieselOMCostKwh" value="0" pattern="^\d+\.?\d*?$"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="dieselOnlyRunsDuringOutage">Fossil gen only runs during outage?<span class="classic">"No" signifies that fossil generator is enabled to run at any point in the year.</span></label>
					<select id="dieselOnlyRunsDuringOutage" name="dieselOnlyRunsDuringOutage">
						<option value="true">Yes</option>
						<option selected value="false">No</option>
					</select>
				</div>
				<div class="chunk">
					<label class="tooltip" for="dieselMacrsOptionYears">Fossil MACRS Years<span class="classic">MACRS schedule for financial analysis. Possible inputs are 0, 5 and 7 years. Set to zero to disable accelerated depreciation accounting for solar.</span></label>
					<select id="dieselMacrsOptionYears" name="dieselMacrsOptionYears">
						<option selected value="0">0</option>
						<option value="5">5</option>
						<option value="7">7</option>
					</select>
				</div>
			</div>
			<div id="windDiv" style="display:none">
				<h5>Wind</h5>
				<div class="chunk">
					<label class="tooltip" for="windCost">Wind Cost ($/kW)<span class="classic">Specify the cost in $/kW.</span></label>
					<input type="text" name="windCost" value="4989" pattern="^\d+\.?\d*?$"/>
				</div>
				<div class="chunk">
					<label class="tooltip" for="windExisting">Wind Existing (kW)<span class="classic">TO DO: FILL TOOLTIP</span></label>
					<input type="text" name="windExisting" value="0" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="windMax">Wind Max (kW)<span class="classic">Specify the maximum desired generation in kW. Leave at default for full optimization on wind power.</span></label>
					<input type="text" name="windMax" value="100000" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="windMin">Wind Min (kW)<span class="classic">Specify the minimum desired generation in kW.</span></label>
					<input type="text" name="windMin" value="0" />
				</div>
				<div class="chunk">
					<label class="tooltip" for="windMacrsOptionYears">Wind MACRS Years<span class="classic">MACRS schedule for financial analysis. Possible inputs are 0, 5 and 7 years. Set to zero to disable accelerated depreciation accounting for solar.</span></label>
					<select id="windMacrsOptionYears" name="windMacrsOptionYears">
						<option value="0">0</option>
						<option selected value="5">5</option>
						<option value="7">7</option>
					</select>
				</div>
				<div class="chunk">
					<label class="tooltip" for="windItcPercent">Wind ITC (% as deimal)<span class="classic">Please enter a number 0-1 for the wind investment tax credit. Format 0.XX</span></label>
					<input type="text" name="windItcPercent" value="0.26" step="0.01" min="0.0" max="1.0"/>
				</div>
			</div>

			<br>
		</form>
		<button id="submitEverything" type="submit">Run model</button>
	</div>	

	<script type="text/javascript">
		var circuitIsSpecified = false;
		var filename = '';

        // Enable technology checkboxes.
        $('[name="battery"]').change(function() {
            $('#batteryDiv').toggle(500);
        });
        $('[name="wind"]').change(function() {
            $('#windDiv').toggle(500);
        });
        $('[name="solar"]').change(function() {
            $('#solarDiv').toggle(500);
        });
        $('[name="fossil"]').change(function() {
            $('#fossilDiv').toggle(500);
        });

        // Enable circuit definition method choice.
        $(document).ready(function() {
        	$("div.desc").hide();
            $("input[name$='circuit']").click(function() {
                var test = $(this).val();

                $("div.desc").hide();
                $("#circuit" + test).show();
            });
        });

        // Editable text for circuit widget.
        $('body').on('click', '[data-editable]', function(){
        	var $og = $(this);
        	var $input = $('<input/>').val( $og.text() ).addClass( $og.attr('class') ).select();
        	$og.replaceWith( $input );
			// Ensure element type remains uneditable in circuit widget.
	    	var base = $og.attr('class').charAt(0).toUpperCase() + $og.attr('class').slice(1) + ': ';
	    	var regex = new RegExp("^" + base, "i");
	    	$('#elements input').on("input", function(ev) {
				var query = $(this).val();
				if (!regex.test(query)) {
					ev.preventDefault();
					$(this).val(base);
				}
			});
			// Save on click or enter key press.
        	var save = function(){
        		var $p = $('<li data-editable />').html('<i class="fa fa-minus-square"></i> ' + $input.val() ).addClass( $og.attr("class") );
        		$input.replaceWith( $p );
        	};
        	$input.on('blur keypress', function(e) {
        		if (e.type == 'blur' || e.keyCode == 13) {
        			save();
        		}
        	}).focus();
        });

        // Delete elements with click of icon in circuit widget. Delete all downstream elements as well.
        $('body').on('click', '#elements li i', function(){
        	var type = $(this).parent($('li')).attr('class');
        	var downstream = {
        		'substation':['feeder','load','wind','solar','battery','diesel'],
        		'feeder':['load','wind','solar','battery','diesel']
        	}
        	// Warn user that downstream nodes will be deleted if they proceed.
        	if (type in downstream && $(this).parent($('li')).next('li').length > 0) {
        		if (downstream[type].includes($(this).parent($('li')).next('li').attr('class'))) {
		    		if (confirm("All elements on the substation/feeder to be deleted will also be deleted. Continue?") == false) {
		    			return
		    		} 
					delete_these = downstream[type]
					while ($(this).parent($('li')).next('li').length > 0 && delete_these.includes($(this).parent($('li')).next('li').attr('class'))) {
						$(this).parent($('li')).next('li').remove();
					}
        		}
        	}
        	$(this).parent($('li')).remove();
        });

        // Either add a new substation to the bottom or open up dialog.
        $('#newSub, #newFeeder, #newLoad, #newSolar, #newWind, #newBattery, #newDiesel').on('click', function() {
        	$('#dialog select').empty();
        	$('#dialogText').removeClass();
        	let type = $(this).attr('id');
        	let map = {'newSub':['substation'],'newFeeder':['feeder','substation'],'newLoad':['load','feeder'],'newSolar':['solar','feeder'],'newWind':['wind','feeder'],'newBattery':['battery','feeder'],'newDiesel':['diesel','feeder']}
        	let name = ' '+map[type][0].charAt(0).toUpperCase()+map[type][0].slice(1)+': (click to name)'
        	if (type === 'newSub') {
        		$("#elements").append('<li class="substation" data-editable><i class="fa fa-minus-square"></i>'+name+'</li>');
        	} else {
        		var all = $("#elements ." + map[type][1]).map(function() {
        			let idx = this.innerHTML.indexOf(': ') + 2;
        		    return this.innerHTML.slice(idx);
        		}).get();
        		$("#dialogText").text("To which "+map[type][1]+" would you like to add a "+map[type][0]+"?").addClass(map[type][0]+' '+map[type][1]);
        		for (let idx = 0; idx < all.length; idx++) {
        			$('#dialog select').append(`<option value="${all[idx]}">${all[idx]}</option>`);
        		}
        		window.dialog.showModal();
        	}
        });
        // Close dialog and add non-substation element.
        $('#dialog button[type="button"]').on('click', function() {
        	window.dialog.close()
        	let parentName = $('#dialog select').val();
        	let type = $('#dialogText').attr('class').split(' ')[0];
        	let parentType = $('#dialogText').attr('class').split(' ')[1];
        	let child = ' '+type.charAt(0).toUpperCase()+type.slice(1)+': (click to name)';
        	let parent = ' '+parentType.charAt(0).toUpperCase()+parentType.slice(1)+': '+parentName;
        	$('<li class="'+type+'" data-editable><i class="fa fa-minus-square"></i>'+child+'</li>').insertAfter('#elements li:contains('+parent+')')
        });

        // Create DSS from manually built circuit. Get loads.
        $(function() {
        	$('#toDss').click(function() {
				// Do not proceed if model has no name.
				if ($('input[name="MODEL_DIR"]').val() === '') {
					alert('Please specify a model name.')
					return 
				}
        		// First, convert to list. Then, convert to JSON.
        		var list = [];
        		$('#elements li').each(function(idx, item){
        			var fullName = item.textContent;
        			var startIdx = fullName.indexOf(':') + 2;
        		    list.push({
        		        class: $(item).attr('class'),
        		        text: fullName.slice(startIdx)
        		    });
        		});
        		json = JSON.stringify(list, null, "  ");
        		console.log(json)

				// TODO: Add MODEL_DIR to json.
				const form_data = new FormData();
				form_data.append('json',json);
				var model_dir = $('input[name="MODEL_DIR"]').val()
				form_data.append('MODEL_DIR',model_dir)

        		// Next, make AJAX POST to backend. 
        		$.ajax({
        			url:'/jsonToDss',
        			type:'POST',
        			contentType: false,
        			data: form_data,
					processData : false,
        			success: function(data) {
        				circuitIsSpecified = true;
        			    const loads = data.loads;
        			    $('#critLoads').empty();
        			    $('#critLoads').append('<p>Please select all critical loads:</p>')
        			    $('#dropDowns').empty();
        			    $('#dropDowns').hide();
        			    jQuery('<form>', {
        			        id: 'criticalLoadsSelect',
        			        class: 'chunk'
        			    }).appendTo('#critLoads');
        			    for (let i=0; i<loads.length; i++) {
        			    	$('#criticalLoadsSelect').append('<label><input type="checkbox">'+loads[i]+'</label>')
        			    	$('#dropDowns').append('<label><select></select> '+loads[i]+'</label><br>')
        			    }
        			    if (loads.length === 0) {
        			    	$('#criticalLoadsSelect').append('<p>No loads to select from.</p>')
        			    }
						// Set filename.
						filename = data.filename;
						// Make directory uneditable. 
						$('input[name="MODEL_DIR"]').prop("disabled", true);						
        			}
        		});
        	})
        })

        // Upload DSS circuit. Get loads.
        $(function() {
            $('#upload-file-btn').click(function() {
				// Do not proceed if model has no name.
				if ($('input[name="MODEL_DIR"]').val() === '') {
					alert('Please specify a model name.')
					return 
				}
                var form_data = new FormData($('#upload-file')[0]);
				var model_dir = $('input[name="MODEL_DIR"]').val()
				form_data.append('MODEL_DIR',model_dir)
                $.ajax({
                    type: 'POST',
                    url: '/uploadDss',
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(data) {
                    	circuitIsSpecified = true;
                        const loads = data.loads;
                        $('#critLoads').empty();
                        $('#critLoads').append('<p>Please select all critical loads:</p>')
                        $('#dropDowns').empty();
                        $('#dropDowns').hide();
                        jQuery('<form>', {
                            id: 'criticalLoadsSelect',
                            class: 'chunk'
                        }).appendTo('#critLoads');
                        for (let i=0; i<loads.length; i++) {
                        	$('#criticalLoadsSelect').append('<label><input type="checkbox">'+loads[i]+'</label>')
                        	$('#dropDowns').append('<label><select></select> '+loads[i]+'</label><br>')
                        }
                        if (loads.length === 0) {
                        	$('#criticalLoadsSelect').append('<p>No loads to select from.</p>')
                        }
						
						// Set filename.
						filename = data.filename;
						// Make directory uneditable. 
						$('input[name="MODEL_DIR"]').prop("disabled", true);
					}
                });
            });
        });

        // Manual partitioning dynamic dropdown creation. 
        $('#makeDropdowns').on('click', function() {
        	if (circuitIsSpecified === false) {
        		alert('Please complete step 2.')
        		return
        	}
        	if ($('#mgQuantity').val() === "") {
        		alert('Please input a number.')
        		return
        	}
        	$('#dropDowns label select').each(function() {
        		var numMgs = $('#mgQuantity').val();
        		for (let i = 0; i < numMgs; i++) {
        			var count = i + 1
        			$(this).append('<option value="">Mg' + count + '</option>');
        		}
        	});
        	$('#dropDowns').show();
        })

        // Hide/show manual partitioning div. 
        $('#partitionMethod').change(function() {
        	if ($(this).val() == 'manual') {
        	    $('#partitionManually').show();
        	    $('#previewPartitions').hide();
        	    $('#partitionsPreview').empty();
        	}
        	else { 
        		$('#partitionManually').hide();
        		$('#previewPartitions').show();
        	}
        })

	  	// Grab partitioning preview.
		$(function() {
	  		$('#previewPartitions').click(function() {
	  			if (circuitIsSpecified === false) {
	  				alert('Please complete step 2.')
	  				return
	  			}
	  			// 1. Get critical loads, if any.
	  			critLoads = new Array();
	  			$('#criticalLoadsSelect label').each(function() {
	  				if ($(this).find('input')[0].checked) {
	  					var element = $(this).text();
	  					critLoads.push(element);
	  				}
	  			});
	  			console.log(critLoads);
	  			// 2. Get dss file name.
	  			console.log(filename);
	  			// 3. Get partitioning method.
	  			var method = $( "#partitionMethod option:selected" ).val();
	  			console.log(method);
	  			if (method === "") {
	  				alert('Please ensure you have chosen a partition method.');
	  				return
	  			}
	  			$.ajax({
	  		        url: 'previewPartitions',
	  		        type: 'POST',
	  		        data: {
	  		        	critLoads : JSON.stringify(critLoads),
	  		        	fileName : JSON.stringify(filename),
	  		        	method : JSON.stringify(method)
	  		        },
	  		        success: function(data, status) {
	  		            /* creating image */
	  		            var img = $('<img id="image_id">');
	  		            img.attr('src', 'data:image/gif;base64,' + data);
	  		            $('#partitionsPreview').empty();
	  		            img.appendTo('#partitionsPreview'); 
	  		        }
	  			});
	  		});
		});

        // Show/hide optional inputs.
        $(function () {
            $('.toggle').click(function() {
                if ( $(this).hasClass('show') ) {
                    //replace the text
                    $(this).text('Show fewer inputs');
                    //replace the icon
                    $(this).prev('i').removeClass('fa-plus-square').addClass('fa-minus-square');
                    $(this).removeClass('show').addClass('hide');
                } else {
                    //replace the text
                    $(this).text('Optional inputs');
                    //replace the icon
                    $(this).prev('i').removeClass('fa-minus-square').addClass('fa-plus-square');
                    $(this).removeClass('hide').addClass('show');                
                }
                $(this).next('div').slideToggle('500');
            });
        });

		// Submit everything. 
		$(function() {
	  		$('#submitEverything').click(function() {
				// Do not proceed if no circuit is specified.
				if (filename === '') {
					alert('Please specify a circuit.')
					return 
				}
				// Do not proceed if no loads are specified.
				if ($('#LOAD_CSV')[0].files.length === 0) {
					alert('Please specify load data.')
					return 
				}
				// Do not proceed if no partition method is specified.
				if ($( "#partitionMethod option:selected" ).val() === '') {
					alert('Please specify a partitioning method.')
					return 
				}
				var form1 = new FormData(document.getElementById("modelInfoForm"));
      			var form2 = new FormData(document.getElementById("techParamForm"));
				for (var pair of form2.entries()) {
						form1.append(pair[0], pair[1]);
					}
				// Append BASE_DSS as either uploaded file or creation.dss.
				// form1.append('BASE_DSS', filename);
				var fileStringArray = [ filename ];
				var fileName = filename;
				var blobAttrs = { type: 'application/octet-stream' };
				var file = new File(fileStringArray, fileName, blobAttrs);
				form1.append('BASE_DSS', file, file.name);
				// Append CRITICAL_LOADS.
				critLoads = new Array();
	  			$('#criticalLoadsSelect label').each(function() {
	  				if ($(this).find('input')[0].checked) {
	  					var element = $(this).text();
	  					critLoads.push(element);
	  				}
	  			});
				form1.append('CRITICAL_LOADS',JSON.stringify(critLoads));
				// Append MG_DEF_METHOD. TODO: If manual is selected, append a 'MICROGRIDS' value.
				var method = $( "#partitionMethod option:selected" ).val();
				form1.append('MG_DEF_METHOD',method);
				$.ajax({
					url: '/run',
					type: 'POST',
					data: form1,
					processData: false,
					contentType: false,
					success: function(response) {
					console.log('Successful submission.');
					}
				})
			})
		});
    </script>
</body>
</html>