* {
    box-sizing: border-box;
    font-family: sans-serif;
    --regularFontPadding: .5rem;
}

/* Banner styling */

div.div--modalBanner {
    /*padding: .5rem;*/
    /*text-align: center;*/
}
div.div--modalBanner.hidden {
    display: none;
}

/* Button styling */

div.div--modal button {
    background-color: seagreen;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
div.div--modal td button {
    padding: .25rem;
}
div.div--modal button:hover {
    background-color: mediumseagreen;
}
div.div--modal button.delete {
    background-color: crimson;
}
div.div--modal button.delete:hover {
    background-color: red;
}
div.div--modal div.div--singleButtonDiv button {
    width: 100%;
}

/* Div styling */

div.div--modal.outermostModal {
    /*background-color: #e6e6e6;*/
}

/* Input styling */

div.div--modal table input {
    font-size: 1rem;
}

/* Span styling */

div.div--modal span {
    font-size: 1rem;
}
div.div--modal button span {
    font-size: small;
}

/* Select styling */

div.div--modal select {
    font-size: 1rem;
}

/* Title stying */

div.div--modalTitle {
    /* This is 43px tall */
    font-size: 26px;
    font-weight: bold;
    padding: var(--regularFontPadding);
    /*text-align: center;*/
}

/* Classes */

.caution {
    background-color: hsla(50, 100%, 70%, 1);
    color: red;
}