* {
    box-sizing: border-box;
    font-family: sans-serif;
    --regularFontPadding: .5rem;
}

/* IDs */

#circuitTableView {
    max-width: 780px;
}
#circuitUserControlsView {
    /*max-width: 780px;*/
}
#csvLoadParserView {
    max-width: 780px;
}

/* Banner styling */

div.div--modalBanner {
    padding: .5rem;
    text-align: center;
}
div.div--modalBanner.caution {
    background-color: hsla(50, 100%, 70%, 1);
}
div.div--modalBanner.hidden {
    display: none;
}

/* Button styling */

div.div--modal button {
    background-color: seagreen;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    /*max-width: 400px;*/
    /*padding: .25rem;*/
}
div.div--modal button:hover {
    background-color: mediumseagreen;
}
div.div--modal button.delete {
    background-color: crimson;
    padding: .25rem;
}
div.div--modal button.delete:hover {
    background-color: red;
}
div.div--modal div.div--singleButtonDiv button {
    width: 100%;
}

/* Div styling */

div.div--modal.outermostModal {
    /*background-color: #e6e6e6;*/
}
div.div--modal.indent-level-0 {
    background-color: #e6e6e6;
    margin: .25rem 0 0 0;
}
div.div--modal.indent-level-1 {
    background-color: #e6e6e6;
    margin: .25rem 0 0 0;
}
div.div--modal.indent-level-2 {
    background-color: #e6e6e6;
    margin: .25rem 0 0 0;
}
div.div--modal.indent-level-3 {
    background-color: #e6e6e6;
}
div.div--modalUserInputRow {
    display: flex;
    padding: 1rem 0 0 0;
}
div.div--modal div.div--singleButtonDiv {
    width: 200px;
    padding: 1rem 0 0 0;
}

/* Input styling */

div.div--modal table input {
    font-size: 1rem;
    width: 50%;
}

/* Span styling */

div.div--modal span {
    font-size: 1rem;
}
div.div--modal button span {
    font-size: small;
}
div.div--modal div.div--modalUserInputRow span {
    padding: 0 .5rem 0 .5rem;
}
div.div--modal div.div--modalUserInputRow div:first-child span:first-child {
    padding: 0 .5rem 0 0;
}

/* Select styling */

div.div--modal select {
    font-size: 1rem;
}

/* Table styling */

div.div--modal table {
    table-layout: fixed;
    width: 100%;
}
div.div--modal table td {
    padding: 0;
}
div.div--modal table td:first-child {
    width: 48px;
}
div.div--modal table td:nth-child(2) {
    width: 150px;
}
div.div--modal.indent-level-1 td:nth-child(1) {
    padding-left: 1rem;
}
div.div--modal.indent-level-1 td:nth-child(2) {
    padding-left: 1rem;
}
div.div--modal.indent-level-2 td:nth-child(1) {
    padding-left: 2rem;
}
div.div--modal.indent-level-2 td:nth-child(2) {
    padding-left: 2rem;
}
div.div--modal.indent-level-3 td:nth-child(2) {
    padding-left: 3rem;
}

/* Title stying */

div.div--modalTitle {
    /* This is 43px tall */
    font-size: 26px;
    font-weight: bold;
    padding: var(--regularFontPadding);
    text-align: center;
}

/* Classes */
